/* FORÇAR FONT FAMILY EM TUDO */
:root {
	font-family: "Roboto", sans-serif;
}

* {
	box-sizing: border-box;
}

body {
	width: 100vw;
	background-color: #fafafa;
}

bold {
	font-weight: bold;
}

button,
ion-icon {
	cursor: pointer;
}

/* BARRA TOPO FIXO */
.topo-fixo-buzzquizz {
	display: flex;
	align-items: center;
	justify-content: center;

	position: fixed;
	top: 0;
	left: 0;

	width: 100%;
	height: 70px;
	background-color: #ec362d;

	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);

	font-size: 37px;
	color: white;
	font-family: "Roboto", sans-serif;
}

.topo-fixo-buzzquizz bold {
	cursor: pointer;
}

.topo-fixo-phantom {
	width: 100%;
	height: 70px;
}

/* Estilo conteudo pagina padrão */
.conteudo-pagina {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
}

.caixa-criarQuizz {
	width: 73%;
	margin: auto;

	margin-top: 60px;
	padding: 20px;

	background-color: #fafafa;
	border: 1px dashed #d5d5d5;
	border-radius: 20px;
	margin-top: 77px;

	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.caixa-criarQuizz p {
	text-align: center;

	color: #b9b9b9;

	font-weight: 400;
	font-size: 20px;
	line-height: 23px;
	font-weight: 400;

	margin-bottom: 15px;
}

.caixa-criarQuizz button {
	color: #ec362d;

	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 21px;

	line-height: 25px;

	display: flex;
	align-items: center;
	justify-content: center;

	background: #fafafa;

	border: 1px dashed #ec362d;
	border-radius: 50px;

	width: 151px;
	height: 40px;
}

.caixa-quizzCriado {
	width: 73%;
	margin: auto;

	margin-top: 60px;
	padding: 20px;
	border-radius: 20px;

	background-color: #fafafa;
}

.tituloBotao-quizzCriado {
	display: flex;
	flex-direction: row;
	height: 31px;
	align-items: center;
	margin-bottom: 8px;
}
.titulo-quizz-criado {
	font-weight: 700;
	font-size: 20px;
	line-height: 31px;
	color: #000000;
}
.botaoAddQuizz {
	color: #ec362d;
	font-size: 31px;
	margin-left: 17px;

	pointer-events: none;
}

.descricao-botao {
	background-color: black;

	display: none;

	height: 30px;
	line-height: 30px;

	padding-inline: 10px;
	margin-left: 5px;

	border-radius: 10px;

	font-weight: bold;

	color: white;
}

.spanAddQuizz:hover + .descricao-botao {
	display: block;
}

.container-quizzCriado {
	margin-top: 12px;

	max-height: 37.5vh;

	overflow-y: scroll;

	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	overflow-y: scroll;
	max-height: 230px;
}

.caixa-todos-quizzes {
	width: 73%;
	margin: auto;

	margin-top: 60px;
	padding: 20px;
	border-radius: 20px;

	background-color: white;
}

.titulo-todos-quizzes {
	font-family: "Roboto";
	font-weight: 700;
	font-size: 20px;

	line-height: 31px;

	display: flex;
	align-items: center;
	text-align: center;
	font-style: normal;
}

.container-quizzes {
	margin-top: 12px;

	max-height: 45.5vh;

	overflow-y: scroll;

	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 10px;
}

.selecionar-quizz {
	width: 32.35%;
	height: 27vh;
	position: relative;

	border-radius: 5px;
	cursor: pointer;

	transition: all 200ms ease-in;
}

.selecionar-quizz:hover {
	transform: scale(1.03);
}

.selecionar-quizz img {
	width: 100%;
	height: 100%;

	border-radius: 5px;

	object-fit: cover;
}

.selecionar-quizz p {
	color: #fff;
	font-size: 19px;

	line-height: 22px;
	text-align: center;

	word-break: break-all;
}

.selecionar-quizz .overlay {
	position: absolute;
	top: 0;
	left: 0;

	display: flex;
	align-items: end;

	width: 100%;
	height: 100%;
	border-radius: 5px;
	padding: 0 18px 20px;

	background: linear-gradient(
		180deg,
		rgba(255, 255, 255, 0) 0%,
		rgba(0, 0, 0, 0.5) 64.58%,
		#000000 100%
	);
}

.selecionar-quizz .overlay {
	position: absolute;
	top: 0;
	left: 0;

	display: flex;
	align-items: end;

	width: 100%;
	height: 100%;
	border-radius: 5px;
	padding: 0 18px 20px;

	background: linear-gradient(
		180deg,
		rgba(255, 255, 255, 0) 0%,
		rgba(0, 0, 0, 0.5) 64.58%,
		#000000 100%
	);
}

/* PAGINA QUIZZ */
.pagina-quizz {
	width: 100%;
}

.titulo-pagina-quizz {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 100%;
	height: 227px;
	margin-bottom: 50px;

	color: white;

	font-size: 37px;
	text-align: center;

	background-size: cover;
	background-color: rgba(0, 0, 0, 0.6);
	background-blend-mode: darken;

	overflow: hidden;

	transition: all 1s;
}

.titulo-pagina-quizz-inicio {
	flex-direction: column;
	justify-content: space-around;
	height: 80vh;
	text-align: top;
}

.titulo-pagina-quizz button {
	height: 150px;
	width: 300px;

	font-size: 22px;
	font-weight: bold;

	background-color: #ec362d;
}

.titulo-pagina-quizz button:hover {
	background-color: black;
	color: #ec362d;
	border-color: #ec362d;
}

.perguntas-feed {
	display: flex;
	flex-direction: column;
	align-items: center;

	width: 1100px;

	margin: auto;
}

.pergunta {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 80%;
	height: 80vh;
	margin-bottom: 50px;

	border-radius: 15px;

	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
	background-color: #ffffff;
}

.conteudo-pergunta {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;

	width: 90%;
	height: 90%;

	font-size: 23px;
}

.titulo-pergunta {
	display: flex;
	justify-content: center;
	align-items: center;

	height: 138px;
	width: 100%;
	margin-bottom: 20px;

	font-size: 23px;
	color: white;
	font-family: "Roboto", sans-serif;

	background-color: #ec362d;

	word-wrap: wrap;
	word-break: break-all;
}

.opcoes-pergunta {
	display: flex;
	flex-wrap: wrap;

	justify-content: space-between;

	width: 100%;
}

.opcao {
	display: flex;
	flex-direction: column;
	line-height: 30px;

	font-size: 16px;
	color: black;
	font-family: "Roboto", sans-serif;
	text-align: center;

	width: 48%;
}

.opcao input {
	width: 100%;
	height: 170px;
	transition: all 1s;
}

.opcao label {
	word-wrap: wrap;
	word-break: break-all;
}

.opcao-certa {
	color: #009c22;
	filter: brightness(130%);
}

.opcao-errada {
	color: #ff4b4b;
	filter: opacity(40%);
}

/* Formularios de criação de quizz */

.criar-quizz {
	padding-bottom: 50px;
	margin: 70px auto 0;
	width: 53%;
}

.quizz-pronto img {
	width: 100%;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 24px;
}

.criar-quizz > div > p,
form p {
	font-weight: 700;
	font-size: 32px;
	text-align: center;

	margin-bottom: 36px;
}

.form-container {
	width: 100%;
	padding: 27px 20px;

	border-radius: 10px;

	margin-bottom: 22px;

	background: #fff;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.pergunta-numero {
	width: 100%;
	cursor: pointer;
}

.conteudo-dobravel {
	display: none;
	overflow: hidden;

	padding-top: 12px;

	transition: all 1s ease;
}

.conteudo-dobravel.ativo {
	display: block;
	transition: all 1s ease;
}

fieldset {
	display: flex;
	flex-direction: column;
	gap: 10px;

	width: 100%;
}

fieldset + fieldset {
	margin-top: 30px;
}

fieldset .legend,
.pergunta-numero {
	font-weight: 700;
	font-size: 20px;
}

.legend {
	margin-block: 20px;

	font-weight: 700;
	font-size: 20px;
}

.legend > ion-icon {
	font-size: 26px;
}

.criar-quizz input {
	/* width: 100%; */
	height: 46px;

	font-size: 19px;
	padding-left: 20px;

	border: 1px solid #d1d1d1;
	border-radius: 5px;
}

.criar-quizz input::placeholder {
	font-style: italic;
	font-weight: 400;

	line-height: 22px;

	color: #bababa;
}

.criar-quizz input[type="button"] {
	height: 54px;
	/* width: 370px; */

	background: #ec362d;
	color: #fff;

	cursor: pointer;

	border-radius: 15px;

	padding-inline: 10px;

	margin-block: 15px;
}

.criar-quizz .quizz-pronto {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.criar-quizz .voltar-home {
	font-weight: 400;
	font-size: 21px;

	color: #818181;

	display: flex;
}

.preview-quizz-criado {
	width: 500px;
	height: 33.8vh;
	position: relative;
	margin-bottom: 12px;

	border: 2px solid rgb(128, 128, 128);
	border-radius: 10px;

	cursor: pointer;
}

.preview-quizz-criado:hover {
	filter: brightness(60%);
}

.preview-quizz-criado img {
	width: 100%;
	height: 100%;
	border-radius: 8px;
}

.preview-quizz-criado p {
	color: #ffffff;

	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	font-size: 19px;

	line-height: 22px;

	position: absolute;
	bottom: 10px;
	padding: 12px;

	word-break: break-all;
}

/* Tela finalizar quizz */

.finalizar-quizz {
	display: flex;
	flex-direction: column;

	align-items: center;
}

.caixa-padrao {
	width: 760px;
	height: 430px;
	margin-top: 30px;

	background-color: #ffffff;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.conteudo-caixa-padrao {
	width: 100%;
	height: 100%;
	padding: 15px;

	display: flex;
	flex-direction: column;
}

.titulo-quizz-finalizado {
	width: 100%;
	background-color: #ec362d;
	height: 120px;

	margin-bottom: 15px;

	font-size: 23px;
	font-weight: 700;
	color: #ffffff;

	word-break: break-all;
	word-wrap: break-word;

	padding: 15px;

	display: flex;
	align-items: center;
	justify-content: center;
}

.conteudo-quizz-finalizado {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: space-between;
}

.conteudo-quizz-finalizado img {
	height: 100%;
	max-width: 50%;
	object-fit: fill;

	margin-right: 15px;
}

.conteudo-quizz-finalizado text {
	max-width: 50%;
}

.texto-quizz-finalizado {
	font-weight: 700;
	line-height: 25px;
	word-wrap: break-word;
	font-size: 20px;

	word-break: break-all;
	overflow-y: scroll;
}

.finalizar-quizz button {
	width: 250px;
	height: 50px;

	font-size: 18px;
	font-weight: bold;

	color: white;
	background-color: #ec362d;

	border: none;

	border-radius: 10px;

	margin-top: 100px;
	margin-bottom: 15px;
}

.finalizar-quizz button:hover {
	filter: brightness(60%);
}

.voltar-home {
	cursor: pointer;
	margin-bottom: 15px;
}

.voltar-home:hover {
	text-decoration: underline;
}

@media (max-width: 1100px) {
	.caixa-criarQuizz,
	.caixa-quizzCriado,
	.caixa-todos-quizzes {
		width: 100%;
		border-radius: 0;
	}

	.selecionar-quizz {
		width: 100%;

		max-height: 200px;

		border: none;

		margin: auto;

		margin-block: 15px;
	}

	.perguntas-feed {
		width: 100%;
	}
	.pergunta {
		width: 100%;
	}

	.caixa-padrao {
		max-width: 80vw;
	}
	.conteudo-quizz-finalizado {
		align-items: center;
	}

	.conteudo-quizz-finalizado {
		flex-direction: column;
	}

	.titulo-quizz-finalizado {
		width: 100%;
	}
}

/* ESCONDER DISPLAY */
.esconder {
	display: none;
}
